[submodule "llama.cpp-alibi"]
	path = llama.cpp-alibi
	url = https://github.com/manyoso/llama.cpp.git
[submodule "llama.cpp-230511"]
	path = llama.cpp-230511
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "llama.cpp-230519"]
	path = llama.cpp-230519
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "llama.cpp-mainline"]
	path = llama.cpp-mainline
	url = https://github.com/ggerganov/llama.cpp.git
